/* Linkkiä painettaessa sivu liukuu smoothisti */
html {
    scroll-behavior: smooth;
}

/* Sivuston Taustaväri */
body {
    background-color: #F8F5F2;
}

#code-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    overflow: hidden;
    background-color: #F8F5F2;
}

/* Leijuvat koodit taustalla */
.floating-code {
    position: absolute;
    display: block;
    font-family: "Courier New", monospace;
    color: rgba(8, 76, 97, 0.1);
    font-weight: bold;
    white-space: nowrap;
    user-select: none;
    pointer-events: none;
}

/* Navigaationpalkin tyylit (mobiili) */
.navbar {
    background-color: #EADDCA;
}

.navbar-brand h2 {
    font-family: "Chakra Petch", sans-serif;
    color: #084C61;
    font-weight: bold;
}

/* Titteli classilla olevat tekstit väriltään poltettu oranssi */
.titteli {
    color: #DB504A;
    font-family: "Inter", sans-serif;
}

.nav-link {
    color: #084C61;
    font-family: "Chakra Petch", sans-serif;
    font-weight: bold;
}

/* Sivupalkki desktopilla */
.sidebar {
    width: clamp(200px, 18vw, 350px);
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #EADDCA;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.sidebar-top {
    padding: 3rem 1.5rem;
    text-align: left;
    display: flex;
    flex-direction: column;
}
.status-panel {
    color: #084C61;
}
.sidebar h3 {
    color: #084C61;
    font-family: "Chakra Petch", sans-serif;
    margin-bottom: 0.5rem;
    font-weight: bold;
}
.sidebar-nav {
    flex-grow: 1;
    padding: 0 1rem;
}

/* Sivupalkin linkkien efektit */
.sidebar .nav-link {
    color: #084C61 !important;
    font-family: "Chakra Petch", sans-serif;
    font-weight: bold;
    padding: 1rem 1.5rem;
    margin-bottom: 0.5rem;
    border-radius: 8px;
    transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    border-left: 4px solid transparent;
}

/* Linkkien hover efekti */
.sidebar .nav-link:hover {
    background-color: rgba(8, 76, 97,0.05);
    color: #DB504A !important;
    border-left: 4px solid #DB504A;
    padding-left: 2rem;
}

/* Näyttää aktiivisen osion navigaatiossa */
.nav-link.active {
    color: #084C61 !important;
    font-weight: bold !important;
    background-color: rgba(8, 76, 97,0.05);
    border-radius: 5px;
}

.sidebar-footer {
    padding: 2rem;
    text-align: center;
    border-top: 1px solid rgba(8, 76, 97,0.1);
}

.social-links .social-icon {
    font-size: 1.8rem;
    color: #084C61;
    margin: 0 10px;
    text-decoration: none;
    transition: all 0.3s ease;
    display: inline-block;
}

.social-links .social-icon:hover {
    color: #DB504A;
    transform: translateY(-3px);
}

.sidebar-footer small {
    color: #4A4A4A;
    display: block;
    margin-top: 0.5rem;
}

/* Etusivun banneri (Hero) */
.hero-banneri {
    height: 85vh;
    display: flex;
    align-items: center;
    background-color: transparent;
    overflow: hidden;
    padding-left: 3rem;
    border-bottom: 2px solid #084C61;
}

/* Piilossa gsap fade-in efektin vuoksi */
.hero-banneri h1, 
.hero-banneri p, 
.btn-primary-custom, 
.btn-secondary-custom, 
.hero-img {
    opacity: 0;
}

h1 {
    color: #084C61;
    font-family: "Chakra Petch", sans-serif;
    text-shadow: 2px 4px 10px #111111;
}

p {
    font-family: "Inter", sans-serif;
    color: #4A4A4A;
}

.hero-img {
    max-height: 75vh;
    width: auto;
    object-fit: contain;
    margin-bottom: -80px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Painikkeiden tyylit bannerissa */
.btn-primary-custom {
    background-color: #084C61;
    border: 2px solid #084C61;
    color: #F8F5F2;
    transition: all 0.3s ease;
    border-radius: 8px;
    font-family: "Inter", sans-serif;
}

.btn-primary-custom:hover {
    background-color: transparent;
    border: 2px solid #DB504A;
    color: #DB504A;
    transform: translateY(-3px);
}

.btn-secondary-custom {
    background-color: transparent;
    border: 2px solid #084C61;
    color: #084C61;
    transition: all 0.3s ease;
    border-radius: 8px;
    font-family: "Inter", sans-serif;
}

.btn-secondary-custom:hover {
    background-color: #DB504A;
    border: 2px solid #DB504A;
    color: #F8F5F2;
    transform: translateY(-3px);
}

h2 {
    color: #DB504A;
    font-family: "Chakra Petch", sans-serif;
}

/* Otsikoiden hr = horizontal rule */
#tietoa-minusta hr,
#teknologiat hr,
#koulutus hr,
#ota-yhteytta hr {
    color: #DB504A;
    width: 120px;
    height: 4px;
    opacity: 1;
}

h3, h4 {
    color: #084C61;
    font-family: "Inter", sans-serif;
}

/* Teknologia kortit (badget) */
.tech-badge {
    background: #F8F5F2;
    border: 2px solid #E0E0E0;
    padding: 12px 24px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    min-width: 120px;
    cursor: default;
    opacity: 0;
    transform: translateY(20px);
    transition: transform 0.3s ease;
}

.tech-badge i {
    transition: transform 0.3s ease;
}

/* Badge hehkuu hoverissa värillä joka on määritelty html tiedostossa */
.tech-badge:hover {
    transform: scale(1.1);
    border-color: var(--badge-color);
    box-shadow: 0 0 20px var(--badge-color);
}

.tech-badge:hover i {
    transform: scale(1.1);
}

/* Koulutuskorttien left border */
.koulutus-kortti {
    border-left: 6px solid #084C61;
    padding-left: 20px;
    margin-bottom: 30px;
}

/* AMK koulutuskortti */
.koulutus-kortti-amk {
    background: #FFF;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.05);
    border: 1px dashed #0089D6;
}

/* Kielitaitojen taulukko */
#koulutus .table th,
#koulutus .table td {
    background-color: #F8F5F2;
    color: #4A4A4A;
    font-family: 'Inter', sans-serif;
}

#koulutus .table {
    border-bottom: 1px solid #084C61;
}

/*  Yhteydenotto lomakkeen tyylit */
.contact-card {
    background: #EADDCA;
    border-radius: 15px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
    border: none;
    color: #084C61;
    font-family: "Inter", sans-serif;
}

.custom-input {
    background-color: #F8F5F2 !important;
    border: 2px solid transparent;
    padding: 12px 15px;
    border-radius: 8px;
    transition: all 0.3s ease;
    font-family: "Inter", sans-serif;
    color: #4A4A4A !important;
}

.custom-input:focus {
    border-color: #DB504A !important;
    box-shadow: 0 0 15px rgba(219, 80, 74, 0.2) !important;
    outline: none;
}

footer {
    background-color: #EADDCA;
    border-top: 2px solid #084C61;
}

footer p {
    color: #084C61;
}

footer a {
    color: #084C61;
    text-decoration: none;
}

/* Media kyselyt mitä tapahtuu suurella näytöllä */
@media (min-width: 992px) {
    .main-content {
        margin-left: clamp(200px, 18vw, 350px);
    }
}

/* Media kyselyt pienille näytöille */
@media (max-width: 991.98px) {
    body {
        padding-top: 55px;
    }

    .hero-banneri {
        height: auto;
        min-height: 80vh;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: 0;
    }

    .hero-img {
        max-height: 50vh;
        margin-bottom: 0;
        margin-top: 0px;
    }
}

/* Media kyselyt leijuville koodeille taustalla */
@media (max-width: 768px) {
    .floating-code {
        font-size: 1rem;
    }
}

@media (min-width: 769px) {
    .floating-code {
        font-size: 1.5rem;
    }
}